
<div class="title">
    <p id="ham">HAMBURGUESAS</p> 
    <p>Sencilla $40</p>  
</div>

<main>
   <div  *ngFor="let hamburguesa of hamburguesas ; let i = index">
    <button class= "button">
      <img src="{{ hamburguesas[i].img }}">
      <p>{{ hamburguesas[i].tipo }}</p>
    </button>
  </div>
</main>  

<div class="title-2">
  <p>Doble $55</p>
</div>


<div id="btn-menu">
    <button class="button-2" [routerLink]= "['extras']">
      <img src="assets/img/egg.png">
    </button>
    <button class="button-2" [routerLink]= "['bebidas']" >
      <img src="assets/img/refresco.png">
    </button>
    <button class="button-2" [routerLink]="['/hamburguesas/guarniciones']">
      <img src="assets/img/french-fries.png">
    </button>
  </div>