
<div class="title">
  <p id="ham">BEBIDAS</p>  
</div>


<main>
  <div *ngFor="let vasos of bebidas ; let i = index"  (click)="searchComponent(i)">
    <button class="button">
      <img src="{{ bebidas[i].img }}">
      <p>{{ bebidas[i].comida }}</p>
    </button>
    <P>{{bebidas[i].precio}}</P>
  </div>
</main>

<div  id="btn-menu">
<button class="button-2" [routerLink]="['/hamburguesas/extras']">
  <img src="assets/img/egg.png">
</button>
<button class="button-2"  [routerLink]="['/hamburguesas/guarniciones']">
  <img src="assets/img/french-fries.png">
</button>
<button class="button-2" [routerLink]="['/hamburguesas']">
  <img src="assets/img/burger.png">
</button>
</div>