

<main>
  <div *ngFor="let vasos of bebidas ; let i = index">
    <button class="button">
      <img src="{{ bebidas[i].img }}">
      <p>{{ bebidas[i].nombre }}</p>
    </button>
  </div>
</main>

<div  id="btn-menu">
<button class="button-2" [routerLink]="['/hamburguesas/extras']">
  <img src="assets/img/egg.png">
</button>
<button class="button-2"  [routerLink]="['/hamburguesas/guarniciones']">
  <img src="assets/img/french-fries.png">
</button>
<button class="button-2" [routerLink]="['/hamburguesas']">
  <img src="assets/img/burger.png">
</button>
</div>