main{
    display:flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: -32px;
    padding-left: 90px;
    padding-right: 90px;
    color:#707070;
   
}

.button{
    background-color: #d9e3e6;
    width: 117px;
    height: 108px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
    padding-top: 14px;
    color: #707070bf;
}

img{
    margin-bottom: 14px;
}

.button-2{
    background-color: rgba(0,0,0,0.0);
    width: 70px;
    height: 585px;
    margin-top: 30px;
    border: 0px;
    padding-top: 14px;
    
   
}

#btn-menu{
    display:flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end; 
    margin-top: -68px;
    margin-right: 25px;
  
}


.title{
    margin-top: -73px;
    position: absolute;
    margin-left: 20px;
    color:#707070;
   
   
}
#ham{
    color:#7dcff1;
    font-size: 20px;
}