.logo{
    width: 100%;
    margin-top: 17%;
    margin-left: 24%;

}

img{
    width: 50%;
}

.btn {
    padding: .375rem .75rem;
    font-size: 1.9rem;
    line-height: 1.9;
    border-radius: 1.25rem;
}

.button-content{
    margin-left: 30%;
    margin-left: 40%;
    margin-top: 10%;
}

