<div class="title">
  <p id="ham">ESPECIFICACIONES</p>  
</div>
<main>
    <div *ngFor="let otros of especificaciones ; let i = index" (click)="searchComponent(i)">
      <button class= "button">
        <img src="{{ especificaciones[i].img }}">
        <p>{{ especificaciones[i].nombre }}</p>
      </button>
      
    </div>
  </main> 

  <div id="add">
      <button class="add-remove">
          <img src="assets/img/agregar-4.png">
        </button>

        <button class="add-remove">
            <img src="assets/img/quitar.png">
          </button>

  </div>
