.ticket{
    margin-top: -71%;
    background-color:#acb8bf;
    height: 655px;
    margin-left: 76%;
    width: 246px;
    box-shadow: 3px 3px 13px #666;
    color: white;
    display: flex;
    flex-direction: column;
   
}

#title{
    padding-top: 20%;
}



img{
    margin-left: 18px;
    margin-top: -9px;
}

#price{
 color: #f8d554;
 margin-right:2px;
}

#product{
    display:flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;

}
