<div class="title">
  <p id="ham">GUARICIÓN</p>  
  <p>+$15</p>
</div>

<main>
    <div  *ngFor="let otros3 of guarniciones ; let i = index">
     <button class= "button">
       <img src="{{ guarniciones[i].img }}">
       <p>{{ guarniciones[i].nombre }}</p>
     </button>
   </div>
 </main>


 <div id="btn-menu">
    <button class="button-2" [routerLink]= "['/hamburguesas/extras']">
      <img src="assets/img/egg.png">
    </button>
    <button class="button-2" [routerLink]= "['/hamburguesas/bebidas']" >
      <img src="assets/img/refresco.png">
    </button>
    <button class="button-2" [routerLink]="['/hamburguesas']">
      <img src="assets/img/burger.png">
    </button>
  </div>
