<section class="order-ok">
  <figure>
      <img  src="assets/img/Cancelar orden-16.png" data-toggle="modal" data-target="#cancelarModal">
  </figure>

  <figure>
          <img  src="assets/img/Confirmar.png" data-toggle="modal" data-target="#confirmarModal">
      </figure>
</section> 

<div class="modal fade" id="cancelarModal" tabindex="-1" role="dialog" aria-labelledby="cancelarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
                <img  src="assets/img/Salir.png">
          ¡Ok! tu pedido ha sido cancelado.
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmarModal" tabindex="-1" role="dialog" aria-labelledby="confirmarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-body">
                            <img  src="assets/img/ok.png">
                      ¡LISTO! tu pedido ha sido enviado a la cocina.
                    </div>
                  </div>
    </div>
  </div>