
.navbar-i{
    background-color:#f8d554;
    height: 768px;
    width: 24%;
    margin:0;
    content: inherit;
    display:flex;
    align-items: center;
    justify-content: center;
}

.nav-nav{
   
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: -58%;
}

 .nav-link {
    display: block;
    padding: 1.28rem 1rem;
}

a {
    color: #707070;
    
}
a:hover:after {
    content: "";
    display: block;
    width: 150px;
    border-bottom: 1px solid;
    color:#707070;
    margin-top:18px;
  
}


.exit{
    background-image:url('src\assets\img\exit.png');
    margin-top: 346px;
    margin-left: 86px;
    width: 4.4%;
    height: 6.3%;
    position: absolute;
    background-color: #f8d554;
    border: 0;
}